# DeepLabV3 城市场景分割配置
_base_:
  - ../../defaults/model.yaml
  - ../../defaults/dataset.yaml
  - ../../defaults/optimizer.yaml
  - ../../defaults/scheduler.yaml
  - ../../defaults/training.yaml

model:
  type: DeepLabV3
  backbone:
    type: ResNet
    depth: 101
    pretrained: true
    dilations: [1, 1, 2, 4]
    out_indices: [4]
  head:
    type: ASPPHead
    num_classes: 19
    in_channels: 2048
    channels: 512
    dilations: [1, 6, 12, 18]
    loss:
      type: CrossEntropyLoss
      ignore_index: 255

dataset:
  type: Cityscapes
  data_root: data/cityscapes
  num_classes: 19
  train:
    ann_file: null
    data_prefix: leftImg8bit/train
  val:
    ann_file: null
    data_prefix: leftImg8bit/val

augmentation:
  train:
    pipeline:
      - type: RandomResize
        scale: [0.5, 2.0]
      - type: RandomCrop
        size: [769, 769]
      - type: RandomHorizontalFlip
        prob: 0.5
      - type: PhotoMetricDistortion
      - type: ToTensor
      - type: Normalize
        mean: [0.485, 0.456, 0.406]
        std: [0.229, 0.224, 0.225]
  val:
    pipeline:
      - type: Resize
        size: [1024, 2048]
      - type: ToTensor
      - type: Normalize
        mean: [0.485, 0.456, 0.406]
        std: [0.229, 0.224, 0.225]

training:
  epochs: 80
  batch_size: 8

optimizer:
  type: SGD
  lr: 0.01
  momentum: 0.9
  weight_decay: 0.0005

scheduler:
  type: PolyLR
  power: 0.9
  min_lr: 1.0e-4
