# EfficientNet-B0 轻量级分类配置
_base_:
  - ../../defaults/model.yaml
  - ../../defaults/dataset.yaml
  - ../../defaults/optimizer.yaml
  - ../../defaults/scheduler.yaml
  - ../../defaults/augmentation.yaml
  - ../../defaults/training.yaml

model:
  type: ImageClassifier
  backbone:
    type: EfficientNet
    variant: b0
    pretrained: true
    drop_path_rate: 0.2
  head:
    type: LinearClsHead
    num_classes: 1000
    in_channels: 1280
    loss:
      type: CrossEntropyLoss
      label_smoothing: 0.1

dataset:
  type: ImageNet
  data_root: data/imagenet
  num_classes: 1000

augmentation:
  train:
    pipeline:
      - type: RandomResizedCrop
        size: 224
        scale: [0.08, 1.0]
      - type: RandomHorizontalFlip
        prob: 0.5
      - type: AutoAugment
        policy: imagenet
      - type: ToTensor
      - type: Normalize
        mean: [0.485, 0.456, 0.406]
        std: [0.229, 0.224, 0.225]
      - type: RandomErasing
        prob: 0.25

training:
  epochs: 350
  batch_size: 256
  mixed_precision:
    enabled: true

optimizer:
  type: RMSprop
  lr: 0.016
  momentum: 0.9
  weight_decay: 1.0e-5
  eps: 0.001

scheduler:
  type: ExponentialLR
  gamma: 0.97
